<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wangdaye.com.geometricweather" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/geometric_weather"
        android:name=".GeometricWeather"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/GeometricWeatherTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,ManifestResource">

        <!-- baidu location -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8Ag8g9warGQeUVFbqx4LRrXU" />
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- context -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/GeometricWeatherTheme"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.wangdaye.geometricweather.Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AlertActivity"
            android:label="@string/action_alert"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ManageActivity"
            android:label="@string/action_manage"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.SearcActivity"
            android:label="@string/action_search"
            android:theme="@style/GeometricWeatherTheme.Search"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/action_about"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait" />

        <!-- create widget context -->
        <activity
            android:name=".ui.activity.widget.CreateWidgetDayActivity"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andorid.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.widget.CreateWidgetWeekActivity"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andorid.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.widget.CreateWidgetDayWeekActivity"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andorid.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.widget.CreateWidgetClockDayHorizontalActivity"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andorid.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.widget.CreateWidgetClockDayVerticalActivity"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andorid.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.widget.CreateWidgetClockDayWeekActivity"
            android:theme="@style/GeometricWeatherTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andorid.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- service -->
        <service android:name=".service.NormalUpdateService" />
        <service android:name=".service.TodayForecastUpdateService" />
        <service android:name=".service.TomorrowForecastUpdateService" />
        <service
            android:name=".service.JobNormalUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.JobTodayForecastUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.JobTomorrowForecastUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.PollingService"
            android:process=":polling" />
        <service
            android:name=".service.ProtectService"
            android:process=":protect" />
        <service
            android:name=".service.TileService"
            android:label="@string/geometric_weather"
            android:icon="@drawable/weather_sun_day_mini_light"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- receiver -->
        <receiver
            android:name=".receiver.MainReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- widget -->
        <receiver
            android:name=".receiver.widget.WidgetDayProvider"
            android:label="@string/widget_day">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_day" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.widget.WidgetWeekProvider"
            android:label="@string/widget_week">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_week" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.widget.WidgetDayWeekProvider"
            android:label="@string/widget_day_week">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_day_week" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.widget.WidgetClockDayHorizontalProvider"
            android:label="@string/widget_clock_day_horizontal">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_day_horizontal" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.widget.WidgetClockDayVerticalProvider"
            android:label="@string/widget_clock_day_vertical">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_day_vertical" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DISABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.widget.WidgetClockDayWeekProvider"
            android:label="@string/widget_clock_day_week">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_day_week" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DISABLED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

</manifest>
